#ignore list for verilog projects
**/*.*log  #any logs or extensions that might be generated
**/*.html
**/*.gise
**/*.exe
**/*.lso
**/*.ngc
**/*.ngr
**/*.prj
**/*.stx
**/*.syr
**/*.wbd
**/*.xise
**/*.xst
**/*.xrpt
**/*.cmd
**/*.xmsgs
**/*.xml
**/*.ini
**/*.pdf

# ignore of subdirs
**/isim/
**/iseconfig/
**/xst/
**/_xmsgs/
**/ipcore_dir/
**/_ngo/
**/xlnx_auto_0_xdb/
