#ignore list for verilog projects
**/*.log
**/*.cmd_log
**/*.bld
**/*.ncd
**/*.ngd
**/*.pad
**/*.par
**/*.pcf
**/*.ptwx
**/*.twr
**/*.twx
**/*.unroutes
**/*.xpi
**/*.map
**/*.mrp
**/*.ngm
**/*.csv
**/*.txt
**/*.html
**/*.gise
**/*.exe
**/*.lso
**/*.ngc
**/*.ngr
**/*.prj
**/*.stx
**/*.syr
**/*.wbd
**/*.xise
**/*.xst
**/*.xrpt
**/*.cmd
**/*.xmsgs
**/*.xml
**/*.ini
**/*.pdf
**/*.wdb

# ignore of subdirs
**/isim/
**/iseconfig/
**/xst/
**/_xmsgs/
**/ipcore_dir/
**/_ngo/
**/xlnx_auto_0_xdb/
